body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  h1 {
    margin-top: 20px;
  }
  
  #profile {
    margin-top: 20px;
  }
  
  #profile img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 10px;
    border: solid 1px #802eb8;
  }
  
  .input-container {
    margin-top: 20px;
  }
  
  .input-container input {
    padding: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 300px;
  }
  
  .input-container button {
    padding: 10px 20px;
    font: bold;
    font-size: 16px;
    background-color: #802eb8;
    box-shadow: 0 5px #5a1c83;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px;
  }
  .input-container button:active{
    box-shadow: none;
    transform: translateY(5px);
  }
  .profile-info {
    margin-top: 20px;
  }
  
  .profile-info p {
    margin-bottom: 10px;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
  }